@import uk.gov.hmrc.payesettlementagreementsfrontend.viewmodels.InputViewModelBase

@(
viewModel: InputViewModelBase,
label: String,
inputClass: Option[String] = None,
hint: Option[String] = None,
labelClass: Option[String] = None
)(implicit messages: Messages)

<div class="form-field @if(viewModel.errorKey.nonEmpty){form-field--error}">
    <label class="form-label" for="@{viewModel.id}">
        <span class="bold @if(labelClass.nonEmpty){@labelClass}">@label</span>
        @if(hint.nonEmpty){
        <span class="form-hint">@hint</span>
        }
        @if(viewModel.errorKey.nonEmpty){
        <span class="error-notification" id="error-message-@{viewModel.id}-input">@messages(viewModel.errorKey)</span>
        }
    </label>
    <div class="form-control-wrapper">
        <input
                class="form-control @inputClass"
                type="text"
                id="@{viewModel.id}"
                name="@{viewModel.id}"
                value="@{viewModel.value}"
                @if(viewModel.errorKey.nonEmpty){aria-describedby="error-message-@{viewModel.id}-input"}
        />
    </div>
</div>
