@import uk.gov.hmrc.payesettlementagreementsfrontend.utils.RadioOption
@import uk.gov.hmrc.payesettlementagreementsfrontend.viewmodels.InputViewModelBase

@(
viewModel: InputViewModelBase,
legend: String,
legendClass: Option[String] = None,
hint: Option[String] = None,
trackGa: Boolean = false,
inputs: Seq[RadioOption]
)(implicit messages: Messages)

<div class="form-field">
    <fieldset class="form-group" id="@{viewModel.id}">
        <legend>
          <span class="bold-small @if(legendClass.nonEmpty){@{legendClass.get}}">@legend</span>
          @if(hint.nonEmpty){
          <span class="form-hint">@{hint.get}</span>
          }
          @if(viewModel.errorKey.nonEmpty){
          <span class="error-notification" id="error-message-@{viewModel.id}-input">@messages(viewModel.errorKey)</span>
          }
        </legend>
        @for(input <- inputs) {
        <label class="block-label selection-button-radio" for="@{input.id}">
            <input id="@{input.id}" type="radio" name="@{viewModel.id}" value="@{input.value}" @if(viewModel.value == Some(input.value)){checked="checked"} @if(trackGa){data-journey-click="paye-settlement-agreements-frontend:click:@{input.id}"} />
            @messages(input.messageKey)
        </label>
        }
    </fieldset>
</div>
