@import uk.gov.hmrc.payesettlementagreementsfrontend.FrontendAppConfig
@import uk.gov.hmrc.payesettlementagreementsfrontend.controllers.routes._
@import uk.gov.hmrc.payesettlementagreementsfrontend.forms.$className;format="cap"$Form
@import uk.gov.hmrc.payesettlementagreementsfrontend.models.Mode
@import uk.gov.hmrc.play.views.html._

@(appConfig: FrontendAppConfig, form: Form[Set[String]], mode: Mode)(implicit request: Request[_], messages: Messages)

@main_template(
    title = messages("$className;format="decap"$.title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @components.back_link()

    @components.error_summary(form.errors)

    @components.heading("$className;format="decap"$.heading")

    @helpers.form(action = $className$Controller.onSubmit(mode), 'autoComplete -> "off") {

        @components.input_check_box(
            form("value"),
            legend = messages("$className;format="decap"$.heading"),
            legendClass = Some("visually-hidden"),
            inputs = $className$Form.options
        )

        @components.submit_button()
    }
}
